extends inicio.pug
block content
    .divform
        h1.tituloH1 Prescripción
        .divFormularioYPrescripcionesAnteriores
            form.formularioPrescripcion(action="/prescribir", method="POST")
                .formDiagnostico
                    label Diagnostico 
                    textarea.textAreaDiagnostico(name="diagnostico", placeholder="Ingrese el diagnostico del paciente...", required, rows="5", cols="50", minlength="10")
                .labels
                    label Vigencia 
                    .divVigencia
                        label.labelDivVigencia(for="30dias") 30 días 
                        input.radioDivVigencia(type="radio", name="vigencia", id="30dias", value="30", checked) 
                    .divVigencia
                        label.labelDivVigencia(for="60dias") 60 días 
                        input.radioDivVigencia(type="radio", name="vigencia", id="60dias", value="60") 
                .labels
                    label Medico
                    a.tooltip(href="/registrar/medico")
                        i.fa-solid.fa-user-plus
                            p.tooltiptext Registrar nuevo médico
                    select.inputFormRegistro(name="idMedico", required)
                        option(disabled, selected, hidden, value="") Seleccione un médico
                        //mostramos los nombres de los médicos
                        -if(medicos)
                            -for(let med of medicos){
                                //podria agregar la especialidad del médico al select también.
                                option(value= med.idMedico) #{med.nombre} #{med.apellido} 
                            -}
                .labels
                    label Paciente
                    a.tooltip(href="/registrar/paciente")
                        i.fa-solid.fa-user-plus
                            p.tooltiptext Registrar nuevo paciente
                    select.inputFormRegistro(name="idPaciente", required, id="selectPacientes")
                        option(disabled, selected, hidden, value="") Seleccione un paciente 
                        //mostramos los nombres de los pacientes
                        -if(pacientes)
                            -for(let pac of pacientes){
                                option(value= pac.idPaciente) #{pac.nombre} #{pac.apellido}, DNI#{pac.documento}
                            -}
                .grid-container
                    .labels#divMedicamentos
                        .divLabelYBtnAgregarMedicamento
                            label Medicamento
                            button.tooltip#botonAgregarMedicamento(type="button")
                                i.fa-solid.fa-circle-plus.botonAgregarMedicamento
                                p.tooltiptext Agregar Medicamento
                        .inputMedicamentoPrescribir
                            .divAutocompletadoMedicamento
                                input.classEnComunCSS#inputMedicamentoPrescripcion(type="text", placeholder="Ingrese el medicamento", autocomplete = "off")
                                input(type="hidden", name="idMedicamentoDetalle", id="idMedicamentoDetalle") 
                                .autocompletadoMedicamentos
                            #divJustificacion.divJustificacion
                    .labels#divPrestaciones
                        .divLabelYBtnAgregarPrestacion
                            label Prestacion
                            button.tooltip#botonAgregarPrestacion(type="button")
                                i.fa-solid.fa-circle-plus
                                    p.tooltiptext Agregar prestación
                        .inputPrestacionPrescribir
                            .divAutocompletadoPrestacion
                                input.classEnComunCSS#inputPrestacionPrescripcion(type="text", placeholder="Ingrese la prestación", autocomplete = "off")    
                                input(type="hidden", name="idPrestacion", id="idPrestacion")
                                .autocompletadoPrestaciones

                .divBotones
                    input.botones(type="submit", value="Prescribir", id="botonPrescribir")
            div#prescripcionesAnterioresPaciente

    script(src="js/prescribir/prescribirScript.js", type="module")